<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
    <targets>
      <!--The contents of the Logs directory will be published by the LogFilePublisher when an exception occurs-->
      <!--<target name="logFile" type="File" layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:inner=${newline}${exception:format=tostring}}" fileName="${specialfolder:folder=CommonApplicationData}/Cochlear/TITAN_TEMPORARY_FOLDER/Logs/log.txt" archiveFileName="${specialfolder:folder=CommonApplicationData}/Cochlear/TITAN_TEMPORARY_FOLDER/Logs/archive.{#}.txt" archiveAboveSize="1024000" archiveNumbering="Rolling" maxArchiveFiles="9" concurrentWrites="false"/>-->
      <target name="logFile" type="File" layout="${longdate:universalTime=true}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:inner=${newline}${exception:format=tostring}}" fileName="${specialfolder:folder=CommonApplicationData}/BloggersPoint/Logs/log.txt" archiveFileName="${specialfolder:folder=CommonApplicationData}/Cochlear/AutoUpdate/Logs/archive.{#}.txt" archiveAboveSize="1024000" archiveNumbering="Rolling" maxArchiveFiles="9" concurrentWrites="false"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logFile"/>
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>